<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <section class="search">
            Лого <input type="text" /> <button>Найти</button>
            <div><img src="" alt="img" /> Пользователь 0р</div> <button>Мои книги</button><button>\/</button>
        </section>
        <nav>
            <ul>
                <li>Жанры \/</li>
                <li>Новинки</li>
                <li>Популярное</li>
                <li>Аудиокниги</li>
                <li>Аудиокниги</li>
            </ul>
            <div>
                О компании
            </div>
        </nav>
        <section class="breadcrumb">
            <ul>
                <li>Книги /</li>
                <li>Жанр /</li>
                <li>Автор /</li>
                <li>Название книги /</li>
            </ul>
        </section>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        Лого:
        <section class="about company">
            1
        </section>
        <section class="Contract">
            2
        </section>
        <section class="socialMedia">
            3
        </section>

        (C) компания 2021 год
    </footer>
</body>

</html>
